.owl-carousel.owl-theme
	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/1.png'}
		%figcaption
			%span= 'Спальный гарнитур "Анита"'
			%span= '134850 ₽'

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/2.png'}
		%figcaption
			%span= 'Спальный гарнитур "Валерия 40"'
			%span= "68150 ₽"

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/3.png'}
		%figcaption
			%span= 'Спальный гарнитур "Элиана"'
			%span= "146450 ₽"

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/4.png'}
		%figcaption
			%span= 'Спальный гарнитур "Венеция"'
			%span= "108359 ₽"

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/1.png'}
		%figcaption
			%span= 'Название товара'
			%span= "цена"

	%figure.item.mdl-shadow--2dp
		%img{'data-aload': '/uploads/items/mini/2.png'}
		%figcaption
			%span= 'Название товара'
			%span= "цена"
