.owl-carousel.owl-theme
	%figure.item
		= image_tag('/uploads/items/mini/1.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Спальный гарнитур "Анита"'
			%strong= '134850 ₽'

	%figure.item
		= image_tag('/uploads/items/mini/2.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Спальный гарнитур "Валерия 40"'
			%strong= "68150 ₽"

	%figure.item
		= image_tag('/uploads/items/mini/3.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Спальный гарнитур "Элиана"'
			%strong= "146450 ₽"

	%figure.item
		= image_tag('/uploads/items/mini/4.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Спальный гарнитур "Венеция"'
			%strong= "108359 ₽"

	%figure.item
		= image_tag('/uploads/items/mini/1.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Название товара'
			%strong= "цена"

	%figure.item
		= image_tag('/uploads/items/mini/2.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Название товара'
			%strong= "цена"
