.owl-carousel.owl-theme
	%figure.item.mdl-color--teal-900.mdl-shadow--2dp
		%figcaption
			%span= 'Кухня "Нова"'
		%img{'data-aload': '/uploads/items/mini/5.png'}
		%figcaption
			%span= '134850 ₽'

	%figure.item.mdl-color--teal-900.mdl-shadow--2dp
		%figcaption
			%span= 'Кухня "София"'
		%img{'data-aload': '/uploads/items/mini/6.png'}
		%figcaption
			%span= "68150 ₽"

	%figure.item.mdl-color--teal-900.mdl-shadow--2dp
		%figcaption
			%span= 'Кухня "Прага"'
		%img{'data-aload': '/uploads/items/mini/7.png'}
		%figcaption
			%span= "146450 ₽"

	%figure.item.mdl-color--teal-900.mdl-shadow--2dp
		%figcaption
			%span= 'Кухня "Сабрина 2"'
		%img{'data-aload': '/uploads/items/mini/8.png'}
		%figcaption
			%span= "108359 ₽"

	%figure.item.mdl-color--teal-900.mdl-shadow--2dp
		%figcaption
			%span= 'Название товара'
		%img{'data-aload': '/uploads/items/mini/5.png'}
		%figcaption
			%span= "цена"

	%figure.item.mdl-color--teal-900.mdl-shadow--2dp
		%figcaption
			%span= 'Название товара'
		%img{'data-aload': '/uploads/items/mini/6.png'}
		%figcaption
			%span= "цена"
