.itemSlider
	%figure.item
		= image_tag('/uploads/items/mini/5.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Кухня "Нова"'
			%strong= '134850 ₽'

	%figure.item
		= image_tag('/uploads/items/mini/6.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Кухня "София"'
			%strong= "68150 ₽"

	%figure.item
		= image_tag('/uploads/items/mini/7.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Кухня "Прага"'
			%strong= "146450 ₽"

	%figure.item
		= image_tag('/uploads/items/mini/8.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Кухня "Сабрина 2"'
			%strong= "108359 ₽"

	%figure.item
		= image_tag('/uploads/items/mini/5.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Название товара'
			%strong= "цена"

	%figure.item
		= image_tag('/uploads/items/mini/6.png')
		%figcaption.mdl-color--grey-800
			%strong= 'Название товара'
			%strong= "цена"