%ul#catalogue.mdl-shadow--2dp{ 'data-collapsible': 'accordion' }
	- @categories.each do |category|
		- if category[:visible] == true
			- items = Items.new.get(category[:name])
			%li{"id": "#{category[:name]}"}
				.collapsible-header
					.hoverWrapper
						%i.custom-icons{"style": "background-image: url(\"#{category[:icon]}\")"}
						= category[:label]
				.static-header
					.hoverWrapper
						%i.custom-icons{"style": "background-image: url(\"#{category[:icon]}\")"}
						= category[:label]
				%section.collapsible-body.mdl-color--grey-850
					- unless items == nil
						.owl-carousel.owl-theme
							- items.each do |item|
								%figure.item.mdl-shadow--2dp.mdl-color--grey-900{"id": "#{item[:id]}"}
									%img.owl-lazy{"data-src": "/uploads/items/thumbs/#{item[:id]}.png"}
									%figcaption
										%span.name= item[:name]
										%span.price= item[:price][:current].to_s + " ₽"
					- else
						%h4.no_items В данной  категории товары отсутствуют
