- item_classes = "item mdl-shadow--2dp mdl-color--grey-900 call_dialog"
- edit_category = 'mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons'
- edit_item = 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons'
- long_btn = 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'

= form_with("url": items_order_path, "id":"order_form") do |form|
	%ul#catalogue{"data-collapsible":"accordion"}
		- if $categories.size > 0
			- $categories.sort_by(:position).each do |category|

				%li{"id": category.index}
					= hidden_field_tag("categories_order[]", category.id)
					.adaptive_header.collapsible-header
						.title-wrapper
							%i.custom-icons{"style":"background-image: url(\"#{category.icon}\")"}
							%span= category.label
							%span= "(Категория спрятана)" unless to_bool(category.visibility)
								
					%section.collapsible-body.mdl-color--grey-800
						- if category.items.size > 0
							.owl-carousel.owl-theme.show_items
								- category.items.sort_by(:position).each do |item|
									.item_wrapper{"style":"padding:2px"}
										%figure{"class":"#{item_classes}", "id":"item_#{item.id}"}
											= hidden_field_tag("items_order[]", item.id)
											%a.mdl-shadow--2dp{"href":"/items/#{item.id}", "data-remote":"true", "data-method":"get", "title":"Нажмите для подробной информации"}
												- unless item.thumbnail.nil?
													%img{"src":"/assets/carousel/spinner.gif","data-aload":"#{item.thumbnail}"}
												- else
													= image_tag("no_thumbnail.png")

											.buttons-wrapper
												%a{"data-for": "item_#{item.id}", "data-turbolinks":"false", "class":"#{edit_category} move__object"} arrow_back
												%a{"data-for": "item_#{item.id}", "data-turbolinks":"false", "class":"#{edit_category} move__object"} arrow_forward
												= link_to("edit", "/items/#{item.id}/edit", "title":"Редактировать товар", "remote":true, "method":"get", "class":"#{edit_item}")												
												= link_to("delete", "/items/#{item.id}", "title":"Удалить товар", "remote":true, "method":"delete",
													"class":"#{edit_item}", "data-confirm": "Вы уверены, что хотите удалить товар \"#{item.name}\"?")
										
											%figcaption
												%span.name= item.name
												- if item.price.size > 0
													%span.price= item.price.to_s + " ₽"

						- unless category.items.size > 0
							%article.no_items
								%h4= "Нет в наличии"

						.buttons-wrapper
							%a{"data-for": category.index, "data-turbolinks":"false", "class":"#{edit_category} move__object"} arrow_upward
							%a{"data-for": category.index, "data-turbolinks":"false", "class":"#{edit_category} move__object"} arrow_downward
							= link_to("add", "/items/new","title":"Добавить товар", "remote":true, "method":"get", "class":"#{edit_category}","data-params":"categoryId=#{category.id}")
							= link_to("edit", "/categories/#{category.id}/edit", "title":"Редактировать категорию", "remote":true, "method":"get", "class":"#{edit_category}")
							= link_to("delete", "/categories/#{category.id}", "title":"Удалить категорию", "remote":true, "method":"delete",
												"class":"#{edit_category}", "data-confirm": "Вы уверены, что хотите удалить категорию \"#{category.label}\"?")

		- unless $categories.size > 0
			.no_categories
				%h4= "База данных категорий пуста"

	.long_buttons.mdl-shadow--2dp
		= # submit_tag("Сохранить порядок элементов", "class":"#{long_btn}")			
		= link_to("Добавить категорию", "/categories/new", "remote": true, "method":"get", "class":"#{long_btn}")

#about.admin
	.infoblock-wrapper
		= form_with("url":"/about_block/1", "method":"patch") do |f|
			%h5= "Инфоблок"
			= submit_tag("Сохранить", "class":"mdl-button")
			= f.text_area :html, "class":"tinymce", "rows": 60, "cols": 100, "value": @about_block.html
			= tinymce