%ul#catalogue.mdl-shadow--2dp{"data-collapsible":"accordion"}
	- if $categories.size > 0
		- admin_button = "mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons"

		- $categories.each do |category|
			%li{"id": category.index}
				.adaptive_header.collapsible-header
					.title-wrapper
						%i.custom-icons{"style":"background-image: url(\"#{category.icon}\")"}
						= category.label
						= "(Категория спрятана)" unless to_bool(category.visibility)
						
				%section.collapsible-body.mdl-color--grey-850

					- if category.items.size > 0
						- item_classes = "item mdl-shadow--2dp mdl-color--grey-900 call_dialog"
						.owl-carousel.owl-theme.show_items
							- category.items.each do |item|
								%figure{"class":"#{item_classes}","id":"item_#{item.id}"}
									%a{"href":"/items/#{item.id}","data-remote":"true", "data-method":"get", "title":"Нажмите для подробной информации"}
										- unless item.thumbnail == nil
											%img.owl-lazy{"data-src":"#{item.thumbnail}"}
										- else
											= image_tag("no_thumbnail.png")
									.buttons-wrapper
										= link_to("delete", "/items/#{item.id}", "title":"Удалить товар", "remote":true, "method":"delete", "class":"#{admin_button}",
															"data-confirm": "Вы уверены, что хотите удалить товар \"#{item.name}\"?", "data-params":"category_id=#{category.id}")
										= link_to("edit", "/items/#{item.id}/edit", "title":"Редактировать товар",
															"remote":true, "method":"get", "class":"#{admin_button}")
									%figcaption
										%span.name= item.name
										%span.price= item.price.to_s + " ₽"

					- else
						.no_items
							%h4= "Нет товаров"

					.buttons-wrapper
						= link_to("add", "/items/new","title":"Добавить товар", "remote":true, "method":"get",
											"class":"#{admin_button}","data-params":"category=#{category.id}")
						= link_to("delete", "/categories/#{category.id}", "title":"Удалить категорию", "remote":true, "method":"delete",
											"class":"#{admin_button}", "data-confirm": "Вы уверены, что хотите удалить категорию \"#{category.label}\"?")
						= link_to("edit", "/categories/#{category.id}/edit", "title":"Редактировать категорию",
											"remote":true, "method":"get", "class":"#{admin_button}")

	- else
		.no_categories
			%h4= "Нет категорий"

	.add_category
		- classes = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
		= link_to("Добавить категорию", "/categories/new", "remote": true, "method": "get", "class":"#{classes}")

