%ul#catalogue.mdl-shadow--2dp{ 'data-collapsible': 'accordion' }
	- $categories.each do |category|
		- if category[:visible] == true
			- items = Item.new.get_all(category[:name])
			%li{"id": "#{category[:name]}"}
				.collapsible-header
					.wrapper
						%i.custom-icons{"style": "background-image: url(\"#{category[:icon]}\")"}
						= category[:label]
				.static-header
					.wrapper
						%i.custom-icons{"style": "background-image: url(\"#{category[:icon]}\")"}
						= category[:label]
					.buttons-wrapper
						%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab
							%i.material-icons add
						%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab Редактировать категорию
						%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab Скрыть категорию
						%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab Удалить категорию
				%section.collapsible-body.mdl-color--grey-850
					- unless items == nil
						.owl-carousel.owl-theme
							- items.each do |item|
								%figure.item.mdl-shadow--2dp.mdl-color--grey-900{"id": "#{item[:id]}"}
									%img.owl-lazy{"data-src": "/uploads/items/thumbs/#{item[:id]}.png"}
									%figcaption
										%span.name= item[:name]
										%span.price= item[:price][:current].to_s + " ₽"
					- else
						%h4 Нет товаров в данной категории
