%ul#catalogue.mdl-shadow--2dp{"data-collapsible":"accordion"}
	- $categories.each do |category|
		- if category[:visible] == true
			- category_json = Category.new.get(category[:id], "json")
			- items = Item.new.get_all(category[:id], "object")
			%li{"id":"#{category[:id]}","data-json":"#{category_json}"}
				.adaptive_header.collapsible-header
					.title-wrapper
						%i.custom-icons{"style":"background-image: url(\"#{category[:icon]}\")"}
						= category[:label]
				%section.collapsible-body.mdl-color--grey-850
					- unless items == nil
						.owl-carousel.owl-theme
							- items.each do |item|
								- classes = "item mdl-shadow--2dp mdl-color--grey-900 call_dialog"
								%figure{"class":"#{classes}","id":"#{item[:id]}","data-for":"edit_#{item[:id]}","onclick":"call_dialog(event)"}
									%img.owl-lazy{"data-src":"#{item[:thumbnail]}"}
									%figcaption
										%span.name= item[:name]
										%span.price= item[:price][:current].to_s + " ₽"
					- else
						%h4.no_items Нет товаров
					.buttons-wrapper
						- classes = "mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons call_dialog"
						%button{"class":"#{classes}","data-for":"new_item","onclick":"call_dialog(event)","title":"Добавить товар"}
							add
						%button{"class":"#{classes}","data-for":"edit_#{category[:id]}","onclick":"call_dialog(event)","title":"Редактировать категорию"}
							edit
