- edit_category = 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored material-icons'
- long_btn = 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect'

= form_with("url": items_order_path, "id":"order_form") do |form|
  %ul#catalogue{"data-collapsible":"accordion"}
    - if Category.all.size > 0
      - Category.all.sort_by(:position).each do |category|

        %li{"id": category.index}
          = hidden_field_tag("categories_order[]", category.id)
          .adaptive_header.collapsible-header
            .title-wrapper
              %i.custom-icons{"style":"background-image: url(\"#{category.icon}\")"}
              %span= category.label
              %span= "(Категория спрятана)" unless to_bool(category.visibility)
                
          %section.collapsible-body.mdl-color--grey-800
            - if category.items.size > 0
              .owl-carousel.owl-theme.show_items
                - for @item in category.items.sort_by(:position)
                  .item_wrapper
                    = render 'items/item'

            - unless category.items.size > 0
              %article.no_items
                %h4= "Нет в наличии"

            .buttons-wrapper
              %a{"data-for": category.index, "data-turbolinks":"false", "class":"#{edit_category} move__object"} arrow_upward
              %a{"data-for": category.index, "data-turbolinks":"false", "class":"#{edit_category} move__object"} arrow_downward
              = link_to("add", "/items/new","title":"Добавить товар", "remote":true, "class":"#{edit_category}","data-params":"categoryId=#{category.id}")
              = link_to("edit", "/categories/#{category.id}/edit", "title":"Редактировать категорию", "remote":true, "class":"#{edit_category}")
              = link_to("delete", "/categories/#{category.id}", "title":"Удалить категорию", "remote":true, "method":"delete",
                        "class":"#{edit_category}", "data-confirm": "Вы уверены, что хотите удалить категорию \"#{category.label}\"?")

    - unless Category.all.size > 0
      .no_categories
        %h4= "База данных категорий пуста"

  .long_buttons.mdl-shadow--2dp
    = # submit_tag("Сохранить порядок элементов", "class":"#{long_btn}")			
    = link_to("Добавить категорию", "/categories/new", "remote": true, "method":"get", "class":"#{long_btn}")

#about.admin
  .infoblock-wrapper
    = form_with("url":"/infoblocks/1", "method":"patch") do |f|
      %h5= "Инфоблок"
      = submit_tag("Сохранить", "class":"mdl-button")
      = f.text_area :html, "class":"tinymce", "rows": 30, "value": @bottom_infoblock_content
      = tinymce