%ul#catalogue.mdl-shadow--2dp{ 'data-collapsible': 'accordion' }
	- $categories.each do |category|
		- if category[:visible] == true
			- items = Item.new.get_all(category[:id])
			%li{"id": "#{category[:id]}"}
				.adaptive_header.collapsible-header
					.title-wrapper
						%i.custom-icons{"style": "background-image: url(\"#{category[:icon]}\")"}
						= category[:label]
				%section.collapsible-body.mdl-color--grey-850
					- unless items == nil
						.owl-carousel.owl-theme
							- items.each do |item|
								%figure.item.mdl-shadow--2dp.mdl-color--grey-900{"id": "#{item[:id]}"}
									%img.owl-lazy{"data-src": "#{item[:thumbnail]}"}
									%figcaption
										%span.name= item[:name]
										%span.price= item[:price][:current].to_s + " ₽"
					- else
						%h4.no_items Нет товаров

					.buttons-wrapper
						%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.new_item
							%i.material-icons add
						%button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.edit_category
							%i.material-icons edit

				%dialog.mdl-dialog.category_editor
					%h4.mdl-dialog__title Allow data collection?
					.mdl-dialog__content
						%p
							Allowing us to collect data will let us get you the information you want faster.
					.mdl-dialog__actions
						%button.mdl-button{:type => "button"} Agree
						%button.mdl-button.close{:type => "button"} Disagree
