- lambda = "mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons"
.buttons-wrapper
	= link_to("delete", "/imagesets/#{@imageset.id}", "title":"Удалить изоражение или пару", "method":"delete",
		"remote":true, "class":"#{lambda}", "data-confirm": "Вы уверены?", "data-params":"windowId=#{@windowId}")
- unless @imageset.photoUrl.nil?
	= image_tag(@imageset.photoUrl)
- else
	%p= "Нет фото"
- unless @imageset.pictureUrl.nil?
	= image_tag(@imageset.pictureUrl)
- else
	%p= "Нет изображения"
