.buttons-wrapper
	= link_to("delete", "/imagesets/#{@imageset.id}", "title":"Удалить холст", "method":"delete",
		"remote":true, "class":"mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons",
		"data-confirm": "Вы уверены?", "data-params":"windowId=#{@windowId}")
- unless @imageset.photoUrl.nil?
	= image_tag(@imageset.photoUrl, "title": @imageset.photoCaption)
- else
	%p= "Нет фото"
- unless @imageset.pictureUrl.nil?
	= image_tag(@imageset.pictureUrl, "title": @imageset.pictureCaption)
- else
	%p= "Нет изображения"
