- btn_class = "mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons"
.buttons-wrapper

	= link_to("edit", "/imagesets/#{@imageset.id}/edit", "title":"Редактировать подпись к фото",
		"remote": true, "method":"get", "class":"#{btn_class}", "data-params":"windowId=#{@windowId};caption_to=photo")
	= form_with("url":"/imagesets/#{@imageset.id}", "method":"patch") do |form|
		= hidden_field_tag("data[]", @imageset.photoCaption, "id":"photo_caption_form_"+@imageset.id)
		= submit_tag("save", "class":"#{btn_class}")

	= link_to("delete", "/imagesets/#{@imageset.id}", "title":"Удалить холст", "method":"delete",
		"remote": true, "class":"#{btn_class}","data-confirm": "Вы уверены?", "data-params":"windowId=#{@windowId}")

	= link_to("edit", "/imagesets/#{@imageset.id}/edit", "title":"Редактировать подпись к картинке",
		"remote": true, "method":"get", "class":"#{btn_class}", "data-params":"windowId=#{@windowId};caption_to=picture")
	= form_with("url":"/imagesets/#{@imageset.id}", "method":"patch") do |form|
		= hidden_field_tag("data[]", @imageset.pictureCaption, "id":"picture_caption_form_"+@imageset.id)
		= submit_tag("save", "class":"#{btn_class}")

- unless @imageset.photoUrl.nil?
	= image_tag(@imageset.photoUrl, "title": @imageset.photoCaption)
- else
	%p= "Нет фото"
- unless @imageset.pictureUrl.nil?
	= image_tag(@imageset.pictureUrl, "title": @imageset.pictureCaption)
- else
	%p= "Нет изображения"
