.dialog_wrapper
	%h3.my-dialog__title= "Редактирование товара"

	.add_files.dialog-component
		%h4= "Прикрепленные пары изображений"
		.entity-list
			- if @item.imagesets.size > 0
				- for @imageset in @item.imagesets
					%div{"id":"imgset_#{@imageset.id}"}
						= render 'imagesets/show'

		= form_with("scope":"files", "url": imagesets_path, "id":"new__imageset") do |form|
			.input_wrapper
				%label= "Новое фото"
				.file_input_div
					.file_input
						%label.image_input_button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored
							%i.material-icons= "attach_file"
							= form.file_field(:photo)
					.file_input_text_div.mdl-textfield.mdl-js-textfield
						%input.file_input_text.mdl-textfield__input{"disabled":"disabled", "readonly":"readonly", "type":"text"}
						%label.mdl-textfield__label{"for":"file_input_text"}
				.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= text_field_tag("captions[photo]", nil, "class":"mdl-textfield__input")
					%label.mdl-textfield__label{"for":"photo_caption"}= "Подпись"

				%label= "Новая картинка"
				.file_input_div
					.file_input
						%label.image_input_button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored
							%i.material-icons= "attach_file"
							= form.file_field(:picture)
					.file_input_text_div.mdl-textfield.mdl-js-textfield
						%input.file_input_text.mdl-textfield__input{"disabled":"disabled", "readonly":"readonly", "type":"text"}
						%label.mdl-textfield__label{"for":"file_input_text"}
				.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
					= text_field_tag("captions[picture]", nil, "class":"mdl-textfield__input")
					%label.mdl-textfield__label{"for":"picture_caption"}= "Подпись"

				= hidden_field_tag("item_id", "#{@item_id}")
				= hidden_field_tag("window_id", "#{@window_id}")
			= submit_tag("file_upload загрузить", "class":"material-icons mdl-button mdl-js-button mdl-button--raised mdl-button--accent")

	= form_with("scope":"item", "url":item_path, "method":"patch", "class":"item_form") do |form|
		.mdl-dialog__content
			= hidden_field_tag("itemId", @item.id)

			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				= form.text_field(:name, "class":"mdl-textfield__input", "value": @item.name)
				%label.mdl-textfield__label{"for":"name"}= "Название"

			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				= form.text_field(:price, "class":"mdl-textfield__input", "value": @item.price)
				%label.mdl-textfield__label{"for":"price"}= "Цена"

			%label= "Миниатюрное изображение (png, 188 x 178 px)"
			.file_input_div
				.file_input
					%label.image_input_button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored
						%i.material-icons= "attach_file"
						= form.file_field(:thumbnail, "id":"file_input_file")
				.file_input_text_div.mdl-textfield.mdl-js-textfield
					%input#file_input_text.file_input_text.mdl-textfield__input{"disabled":"disabled", "readonly":"readonly", "type":"text"}
					%label.mdl-textfield__label{"for":"file_input_text"}

			%label.mdl-checkbox.mdl-js-checkbox{"for":"modularity_#{@window_id}"}
				= form.check_box(:modularity, "id":"modularity_#{@window_id}", "class":"mdl-checkbox__input", "checked": to_bool(@item.modularity))
				%span.mdl-checkbox__label= "Модульность"

			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				= form.text_area(:description, "class":"mdl-textfield__input", "rows":6, "value": @item.description)
				%label.mdl-textfield__label{"for":"description"}= "Описание"

		.mdl-dialog__actions
			= hidden_field_tag("window_id", "#{@window_id}")
			= submit_tag("Сохранить", "class":"mdl-button mdl-button--raised mdl-button--accent")
			%button.mdl-button{"onclick":"this.parentNode.parentNode.parentNode.parentNode.remove()", "type":"button"}= "Отменить"
