.dialog-wrapper
	%h2.my-dialog__title= "Добавление товара"

	.add_files.dialog-component
		.entity-list
		= form_with("scope":"files", "url":imagesets_path) do |form|
			.input_wrapper
				.file_input_div
					.file_input
						%label.image_input_button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored
							%i.material-icons= "attach_file"
							= form.file_field(:photo)
					.file_input_text_div.mdl-textfield.mdl-js-textfield
						%input.file_input_text.mdl-textfield__input{"disabled":"disabled", "readonly":"readonly", "type":"text"}
						%label.mdl-textfield__label{"for":"file_input_text"}
				.file_input_div
					.file_input
						%label.image_input_button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored
							%i.material-icons= "attach_file"
							= form.file_field(:picture)
					.file_input_text_div.mdl-textfield.mdl-js-textfield
						%input.file_input_text.mdl-textfield__input{"disabled":"disabled", "readonly":"readonly", "type":"text"}
						%label.mdl-textfield__label{"for":"file_input_text"}
				= hidden_field_tag("windowId", "#{@windowId}")
			= submit_tag("file_upload", "class":"material-icons mdl-button mdl-js-button mdl-button--raised mdl-button--accent")

	= form_with("scope":"item", "url":items_path, "class":"item_form") do |form|
		.mdl-dialog__content
			= hidden_field_tag("categoryId", params[:categoryId])

			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				= form.text_field(:name, "class":"mdl-textfield__input")
				%label.mdl-textfield__label{"for":"name"}= "Название"

			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				= form.number_field(:price, "class":"mdl-textfield__input")
				%label.mdl-textfield__label{"for":"price"}= "Цена"

			%label= "Миниатюрное изображение (png, 188 x 178 px)"
			.file_input_div
				.file_input
					%label.image_input_button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.mdl-button--colored
						%i.material-icons= "attach_file"
						= form.file_field(:thumbnail, "id":"file_input_file")
				.file_input_text_div.mdl-textfield.mdl-js-textfield
					%input#file_input_text.file_input_text.mdl-textfield__input{"disabled":"disabled", "readonly":"readonly", "type":"text"}
					%label.mdl-textfield__label{"for":"file_input_text"}

			%label.mdl-checkbox.mdl-js-checkbox{"for":"modularity"}
				= form.check_box(:modularity, "id":"modularity", "class":"mdl-checkbox__input", "checked":true)
				%span.mdl-checkbox__label= "Модульность"

			.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
				= form.text_area(:description, "class":"mdl-textfield__input", "rows":6)
				%label.mdl-textfield__label{"for":"description"}= "Описание"

		.mdl-dialog__actions
			= hidden_field_tag("windowId", "#{@windowId}")
			= submit_tag("Сохранить", "class":"mdl-button mdl-button--raised mdl-button--accent")
			%button.mdl-button{"onclick":"this.parentNode.parentNode.parentNode.parentNode.remove()", "type":"button"}= "Отменить"
