.dialog-wrapper
	- closeButton = "mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons"

	.mdl-dialog__actions
		%button{"class":"#{closeButton}", "onclick":"this.parentNode.parentNode.parentNode.remove()", "type":"button"}= "close"

	.my-dialog__title
		= image_tag("/assets/logo--orange.png")
		%h2= @item.name
	.mdl-dialog__content
		- if @item.imagesets.size > 0
			%section.gallery
				- @item.imagesets.each do |imageset|
					= image_tag(imageset.photo_url) unless imageset.photo_url == nil
					= image_tag(imageset.picture_url) unless imageset.picture_url == nil

		%section.main
			%p= "Тип: модульный" if to_bool(@item.modularity)
			- if @item.price.size > 0
				%p= "Цена: "+@item.price+" рублей"
			%p= "Описание:"
			- if @item.description.size > 0
				%p= @item.description
			- else
				%p= "Нет описания."


