.dialog-wrapper
	- circleButton = "mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons"

	.mdl-dialog__actions.close
		%a{"class":"#{circleButton}", "onclick":"this.parentNode.parentNode.parentNode.remove()"}= "close"

	.my-dialog__title
		= image_tag("/assets/logo-min--orange.svg")
		%h3= @item.name
		%spacer
	.mdl-dialog__content
		- if @item.imagesets.size > 0
			%section.gallery{"data-json": @galleryData.to_json}
				.imagesets-slider-for
					- @item.imagesets.each do |imageset|
						.imageset
							- unless imageset.photoUrl == nil
								= image_tag(imageset.photoUrl, "class":"photo", "data-item-id":"#{@item.id}", "onclick":"open_gallery(event)")
							- unless imageset.pictureUrl == nil
								= image_tag(imageset.pictureUrl, "class":"picture", "data-item-id":"#{@item.id}", "onclick":"open_gallery(event)")
				.imagesets-slider-nav
					- @item.imagesets.each do |imageset|
						- unless imageset.photoUrl == nil
							= image_tag(imageset.photoUrl)
						- else
							= image_tag(imageset.pictureUrl)

		%section.main
			.mdl-tabs.mdl-js-tabs
				.mdl-tabs__tab-bar
					%a.mdl-tabs__tab.is-active{"href":"#itemInfo"}= "Характеристики товара"
					%a.mdl-tabs__tab{"href":"#itemEmpty"}= "Отзывы"
				#itemInfo.mdl-tabs__panel.is-active
					%p= "Тип: модульный" if to_bool(@item.modularity)
					- if @item.price.size > 0
						%p= "Цена: "+@item.price+" рублей"
					%p= "Описание:"
					- if @item.description.size > 0
						%p= @item.description
					- else
						%p= "Нет описания."
				#itemEmpty.mdl-tabs__panel
					Модуль отзывов стоит 1000р, делается 4-7 дней.
