- circle_button = "mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab material-icons"

%dialog.mdl-dialog.admin{ "id": "edit_info_window" }
  .dialog_wrapper
    .mt-dialog_title.mdl-shadow--2dp
      = image_tag("/assets/logo-min--orange.svg")
      %h4
      %a{ "class": "#{circle_button} close__window" } close

    .mdl-dialog__content.mt-dialog_content
      .infoblock-wrapper
        = form_with("url":"", "method":"patch") do |f|
          = submit_tag("Сохранить", "class":"mdl-button")
          = f.text_area :html, "class":"tinymce", "rows": 100, "cols": 100
          = tinymce