!!! 5

%title ДЮК Мебель
= csrf_meta_tags
%meta{ name:'viewport', content:'width=device-width, initial-scale=1.0' }
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
	.mainLayout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
		%header.mdl-layout__header
			//.mdl-layout__drawer-button{ 'aria-expanded': 'false', role: 'button', tabindex: '0' }
			//	%i.material-icons more_horiz
			.mdl-layout__header-row
				= link_to image_tag('testlogo.jpg', border: 0), '/'
				%span.mdl-layout-title
					%h4= "8 918 145 1080"
					%small
						%i.material-icons= 'location_on'
						Краснодар
				.mdl-layout-spacer
				%nav.menu.mdl-navigation.mdl-layout--large-screen-only
					#catalogueMenu
						%a#catalogueButton.mdl-button.mdl-js-button.mdl-button--hover= "Ассортимент"
						%ul#catalogueList.mdl-menu.mdl-menu--lower-right.mdl-js-menu{ for: 'catalogueButton' }
							%li.mdl-menu__item
								= link_to "Спальни", '/'
							%li.mdl-menu__item
								= link_to "Кухни", '/'
							%li.mdl-menu__item
								= link_to "Шкафы купе", '/'
							%li.mdl-menu__item
								= link_to "Диваны и кресла", '/'
							%li.mdl-menu__item
								= link_to "Столы и стулья", '/'
					#aboutMenu
						%a#aboutButton.mdl-button.mdl-js-button.mdl-button--hover= "О компании"
						%ul#aboutList.mdl-menu.mdl-menu--lower-right.mdl-js-menu{ for: 'aboutButton' }
							%li.mdl-menu__item
								= link_to "Всё о мебели", '/'
					= link_to "3D-конструктор", '/', class: 'mdl-button mdl-js-button mdl-js-ripple-effect'

		= yield
