!!! 5
%head
	%title ДЮК Мебель
	%meta{"name":"keywords", "content":"мебель, купить мебель краснодар, купить шкаф краснодар, купить кухню краснодар, купить спальню краснодар, классические спальни, купить диван краснодар, купить гостиную краснодар, диваны и кресла краснодар, купить стул краснодар, купить стол, классическая мебель, мебель для гостиниц, мебель для зала, мебель для спальни, кухонный гарнитур, дешёвые кухни, кухни, спальни, столы и стулья, мебель для номеров, мебель для гостиниц, элитная мебель, элитные кухни, элитные столы, стулья, элитные спальни, столы на заказ, отличие мдф от дерева, как выбрать кухню, как выбрать спальню, интерьер"}
	%meta{"name":"yandex-verification","content":"0ef1c2050e4c7d40"}
	= csrf_meta_tags
	%meta{"name":"turbolinks-cache-control", "content":"no-cache"}
	%meta{"name":"viewport", "content":"width=device-width, initial-scale=1.0, minimum-scale=1.0"}
	= favicon_link_tag "/favicon.ico", rel:"shortcut icon"
	= stylesheet_link_tag	"application",media:"all", "data-turbolinks-track":"reload"
	= javascript_include_tag	"vue.min","data-turbolinks-track":"reload"
	= javascript_include_tag	"aload.min","data-turbolinks-track":"reload"
	= javascript_include_tag	"application","data-turbolinks-track":"reload"
	= javascript_include_tag	"owl-fork","data-turbolinks-track":"reload"
	= javascript_include_tag	"smooth-scroll.min","data-turbolinks-track":"reload"

%body#event_handler
	- unless params[:action] == "constructor"
		- @layout_class = "mdl-layout--fixed-header"
	-else
		- @header_class = "mdl-layout__header--scroll"
	.mainLayout.mdl-layout.mdl-js-layout{class:"#{@layout_class unless @layout_class.nil?}"}
		%header.mdl-layout__header{class:"#{@header_class unless @header_class.nil?}"}
			.mdl-layout__header-row
				- unless params[:action] == 'constructor'
					%a.scrollLink#to_slider.logo
						= image_tag("logo.png")
				- else
					%a.logo{href:"/"}
						= image_tag("logo.png")
				%span.mdl-layout-title
					%h4
						%a{href:"tel:+7#{PhoneNumber[1].string[1..-1]}"}
							%i.material-icons= "call"
							= PhoneNumber[1].string unless PhoneNumber[1].nil?
					%small
						%i.material-icons= "location_on"
						Краснодар
				.mdl-layout-spacer

				- classes = "mdl-button mdl-js-button mdl-js-ripple-effect"
				%nav.mdl-layout--large-screen-only.mdl-navigation
					- if [params[:controller], params[:action]] == ["main", "index"]
						#catalogueMenu
							%a#catalogueButton.mdl-button.mdl-js-button.mdl-button--hover= "Ассортимент"
							%ul#catalogueList.mdl-menu.mdl-menu--lower-right.mdl-js-menu{for:"catalogueButton"}
								- for category in $categories.to_a
									- if category.visibility == "1"
										%a.scrollLink.mdl-menu__item{"id":"to_#{category.index}"}= category.label
						%a.scrollLink#to_about{"class":"#{classes}"}= "О компании"
						= link_to("3D конструктор", "/constructor/#prodboard-container", "class":"#{classes}", "data-turbolinks":"false", "style":"color:greenyellow")

					- else
						#catalogueMenu
							%a#catalogueButton.mdl-button.mdl-js-button.mdl-button--hover= "Ассортимент"
							%ul#catalogueList.mdl-menu.mdl-menu--lower-right.mdl-js-menu{for:"catalogueButton"}
								- for category in $categories.to_a
									- if category.visibility == "1"
										%a.mdl-menu__item{"href":"/##{category.index}", "data-turbolinks":"false"}= category.label
						= link_to("О компании", "/#about", "class":"#{classes}", "data-turbolinks":"false")
						= link_to("3D конструктор", "/constructor/#prodboard-container", "class":"#{classes}", "data-turbolinks":"false", "style":"color:greenyellow")

				%button.mdl-layout--small-screen-only#menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
					%i.material-icons= "more_vert"
				%ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{for:"menu-lower-right"}
					- for category in $categories.to_a
						- if category.visibility == "1"
							%a.scrollLink.mdl-menu__item{"id":"to_#{category.index}"}= category.label
					= link_to("О компании", "/#about", "class":"mdl-menu__item", "data-turbolinks":"false")

		%main.mdl-layout__content
			- unless params[:action] == "constructor"
				#slider.mdl-shadow--2dp
					= image_tag("carousel/1.jpg")
					= image_tag("carousel/2.jpg")
					= image_tag("carousel/3.jpg")
			= yield
			= render 'layouts/footer'

	= render 'layouts/gallery'
