!!! 5
%head
  %title ДЮК Мебель
  = csrf_meta_tags
  %meta{name:"turbolinks-cache-control", content:"no-cache"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, minimum-scale=1.0"}
  = favicon_link_tag "/favicon.ico", rel:"shortcut icon"
  = stylesheet_link_tag "application", "media":"all", "data-turbolinks-track":"reload"
  = javascript_include_tag "vue.min", "data-turbolinks-track":"reload"
  = javascript_include_tag "aload.min", "data-turbolinks-track":"reload"
  = javascript_include_tag "application", "data-turbolinks-track":"reload"
  = javascript_include_tag "owl-fork", "data-turbolinks-track":"reload"
  = javascript_include_tag "smooth-scroll.min","data-turbolinks-track":"reload"
  = tinymce_assets
  = stylesheet_link_tag "adminpanel", "media":"all", "data-turbolinks-track":"reload"
  = javascript_include_tag "adminpanel", "data-turbolinks-track":"reload"

- mdl_button = "mdl-button mdl-js-button"
- edit_slider = "mdl-button--raised open__window crutch"

%body#event_handler
  .mainLayout.mdl-layout.mdl-js-layout.mdl-layout--fixed-header


    %header.mdl-layout__header
      .mdl-layout__header-row
        %a.scrollLink#to_page_top.logo
          = image_tag("logo-admin.png")


        %span.mdl-layout-title
          - unless PhoneNumber[1].nil?
            = form_with("url":"/phone_number/1", "method":"patch") do |form|
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                = form.text_field(:phone_number, "class":"mdl-textfield__input", "value": PhoneNumber[1].string)
                %label.mdl-textfield__label{"for":"phone_number"}= "Номер телефона"
              = submit_tag("save", "class":"material-icons mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored")
          - else
            = form_with("url":"/phone_number", "method":"post") do |form|
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
                = form.text_field(:phone_number, "class":"mdl-textfield__input")
                %label.mdl-textfield__label{"for":"phone_number"}= "Номер телефона"
              = submit_tag("save", "class":"material-icons mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored")
        .mdl-layout-spacer


        %nav.mdl-layout--large-screen-only.mdl-navigation
          #catalogueMenu
            %a#catalogueButton.mdl-button.mdl-js-button.mdl-button--hover= "Ассортимент"
            %ul#catalogueList.mdl-menu.mdl-menu--lower-right.mdl-js-menu{for:"catalogueButton"}
              - Category.all.sort_by(:position).each do |category|
                %a.scrollLink.mdl-menu__item{"id":"to_#{category.index}"}= category.label
          %a.scrollLink#to_about{"class":"#{mdl_button}"}= "О компании"
          = link_to("Выход", "/", "class":"#{mdl_button}")


        %button.mdl-layout--small-screen-only#menu-lower-right.mdl-button.mdl-js-button.mdl-button--icon
          %i.material-icons more_vert
        %ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect{for:"menu-lower-right"}
          = link_to("Выход", "/", "class":"#{mdl_button} mdl-menu__item")


    %main.mdl-layout__content
      #page_top
      - if Slider[1]
        - unless params[:action] == "constructor"
          #slider.mdl-shadow--2dp
            - Slider[1].images.each do |image|
              = image_tag(image.url, "data-id": image.id)

      %h5{"style":"text-align:center"}= "Управление слайдами баннера"
      .edit__slider
        %a{"class":"#{mdl_button} #{edit_slider}","data-controller":"images","data-action":"new"}= "Добавить новый"
        - if Slider[1].images.size > 0
          %a{"class":"#{mdl_button} #{edit_slider}","data-controller":"images","data-action":"edit"}= "Заменить текущий"
          = link_to("Удалить текущий","","remote":true,"method":"delete","class":"#{mdl_button} mdl-button--raised",
            "data-confirm":"Вы уверены, что хотите удалить текущий слайд?","onclick":"change_id()")
      %hr

      = yield
      = render 'layouts/admin_footer'

  = render 'layouts/gallery'
  = render 'layouts/dialogs'
  = render 'layouts/admin_dialogs'

  #snackbar_container.mdl-js-snackbar.mdl-snackbar.mt-toast
    .mdl-snackbar__text
    %button.mdl-snackbar__action{"style": "display:none"}